html {
    background: #F4EAEC url(http://www.larsbergportfolio.com/portfolio/HTML_CSS_projects/pizza_menu/img/pizza2.jpg) 0 0 fixed;
}

body
{
  color: white;
}

div.pizza div {
    height: 3em;
    text-align:center;
}

div.pizza > div div {
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;
}

div.pizza span {
    display: block;
    position: inline;
    padding: 0 50px;
    float: right;
    width: 50%;
    padding: 0 10px;
}

div.pizza span:after {
    content: "";
    display: inline;
    position: inline;
    top: 50%;
    width: 1000px;
    border-top: 1px dotted #000;
}

div.menu_item span {
    left: 0;
}

div.menu_item span:after {
    left: 100%;
}

div.cost span {
    right: 0;
}

div.cost span:after {
    right: 100%;
}

.logo
{
   text-align:center;
}

h1 {
  text-align:center
}

h4 {
  text-align:center
}

img {
     margin: 25px;
     padding: 10px;
     border: solid black 1px
}
